.container-fluid {
  padding: 0;
}

.indexSwiper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.indexSwiper .button {
  cursor: pointer;
}
.indexSwiper .button:hover {
  -webkit-filter: invert(29%) sepia(100%) saturate(6488%) hue-rotate(356deg) brightness(88%) contrast(130%);
          filter: invert(29%) sepia(100%) saturate(6488%) hue-rotate(356deg) brightness(88%) contrast(130%);
}
.indexSwiper .wrapper {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.indexSwiper .blackScreen {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.indexSwiper iframe {
  width: var(--video-width);
  height: var(--video-height);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.swiper-slide .wrapper {
  height: 100vh;
}

.swiper-pagination {
  --swiper-theme-color: #fff;
  --swiper-pagination-bullet-inactive-color: #eee;
}

.button img {
  width: 50px;
  height: 50px;
}