.button {
  cursor: pointer;
}
.button:hover {
  -webkit-filter: invert(29%) sepia(100%) saturate(6488%) hue-rotate(356deg) brightness(88%) contrast(130%);
          filter: invert(29%) sepia(100%) saturate(6488%) hue-rotate(356deg) brightness(88%) contrast(130%);
}

.profilo-swiper {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

#portfolio-header {
  z-index: 998;
  top: 0;
  width: 100%;
  padding: 15px;
  padding-left: 350px;
  position: fixed;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(0, 0, 0, 0.9)), to(transparent));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 60%, transparent 100%);
}
#portfolio-header:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 15px;
  left: 0;
}
#portfolio-header .swiper-wrapper {
  max-width: 150px;
}
#portfolio-header button {
  border: 0;
  background-color: transparent;
  color: #fff;
  font-size: 12pt;
  opacity: 0.7;
  position: relative;
  padding: 15px;
}
#portfolio-header button.active {
  opacity: 1;
}
#portfolio-header button.active::after {
  position: absolute;
  bottom: 0px;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #fff;
  margin: auto;
  left: 0;
  right: 0;
}

.profilo {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 99;
  background-color: #000;
}
.profilo .videos {
  height: 100%;
}
.profilo .swiper-pagination-bullets.swiper-pagination {
  position: absolute;
  left: 0%;
  color: #fff;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 40vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}
.profilo .swiper-pagination-bullets.swiper-pagination .pagination-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.profilo .swiper-pagination-bullets.swiper-pagination .swiper-pagination-bullet-active {
  background-color: transparent;
}
.profilo .swiper-pagination-bullets.swiper-pagination .swiper-pagination-bullet {
  margin: 20px;
  background-color: transparent;
}
.profilo .swiper-pagination-bullets.swiper-pagination span {
  font-size: 15pt;
  color: #fff;
}

.wrapper iframe {
  width: 100%;
  height: 100vh;
}