$xl: 1500px;
$lg: 1280px;
$md: 920px;
$sm: 720px;
$xs: 550px;
$xxs: 380px;

$white: #FFF5EE;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+TC:wght@100..900&display=swap');

@mixin rwd($vw: $md, $limit: max-width) {
	@media all and (#{$limit}: $vw) {
	  @content;
	}
}
*{
  font-family: "Bebas Neue", "Noto Sans TC",sans-serif;
}

.button{
    cursor: pointer;
    &:hover{
      filter:invert(29%) sepia(100%) saturate(6488%) hue-rotate(356deg) brightness(88%) contrast(130%);
    }
  }