
.dialog{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    width:100vw;
    height:100vh;
    background-color: rgba(#000,.5);
    bottom: 0;
    z-index: 999;

    .dialogFrame{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        padding:1em;

        .wrapper{
            .dialogvideo{
                width:80vw;
                max-width:988px;
                margin:auto;
                height: 50vh;
                @include rwd($md){
                    width:90vw;
                    height:70vh;
                }
            }
        }
        .close{
            position: absolute;
            right:-50px;
            height:80px;
            width:80px;
            top:-50px;
            // background-color: $white;
            // border-radius: 50%;
            font-size:40px;
            cursor: pointer;
            display: flex;
            text-align: center;
            align-items: center;
            color:$white;
            justify-content: center;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            transform: rotate(-45deg);
            @include rwd($md){
                right:-10px;
                top:-80px;
            }
        }
    }
}