@import 'mixin';
body.overflow{
    overflow: hidden;
}
.drBeautyInnerContext{
    display: flex;
    align-items: center;
    @include rwd($md){
        flex-direction: column;
    }
    .content-right{
        min-width:300px;
        display: flex;
        height:300px;
        overflow: hidden;
        // border-radius: 50%;
        align-items: center;
        margin: 15px;
        position: relative;
        
        img{
            width: 100%;
            transform: translate(0,20%);
        }
    }
}
.beauty-short-description{
    position:absolute;
    right:20px;
    bottom:10px;
    height:fit-content;
    z-index:5;
    font-size:1.2em;
    display: none;
    @include rwd($md){
        display: block;
    }
    h6{
        font-size:15pt;
        font-size: 35px;
        /* margin-right: 50px; */
        position: absolute;
        left: 0px;
        top: -40px;
    }
    p{
        margin-bottom: 0em;
        text-align: right;
        font-size: 25px;
    }
}
.drBeautyContent{

    .aboutDrBeauty1{
        width:100%;
        height:100vh;
        background: url(../assets/beautypage_frontpic1.jpg) no-repeat center center;
        background-size: cover;
        position: sticky;
        top:0;
        // background-position: -300px;
        @include rwd($md){
            display: none;
        }
    }
}
.drBeautyDialog{
    &.on{
        display: flex;
    }
    display: none;
    position: fixed;
    margin:auto;
    top:0;
    bottom:0;
    background-color: rgba(#000,.5);
    right:0;
    left:0;
    width:100%;
    height:100vh;
    z-index: 100;

    .drBeautyContext{
        position: relative;
        z-index: 10;
        padding: 30px;
        background: rgba(#000,.3);
        border-radius: 15px;
        max-height: 100vh;
        margin: auto;
        .content{
            display: flex;
            flex-direction: column;
            overflow: auto;
            max-height: 50vh;
            padding:15px;
            &::-webkit-scrollbar{
                background-color: $white;
                width:2px;
            }
            &::-webkit-scrollbar-thumb {
                background: #888; 
                width:2px;
                border-radius: 25px;
              }
              &::-webkit-scrollbar-thumb:hover {
                background: #555; 
              }
            h1{
                display: flex;
                align-items: flex-end;
                .small{
                    font-size:15px;
                }
            }
        }
    }
    .icon{
        position: absolute;
        right:10px;
        top:-50px;
        cursor: pointer;
        .bi{
            position: relative;
            transform: rotate(45deg);
            font-size:30px;
        }

    }
}


h2{
    color:$white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    position: relative;
    // top:-150px;
    z-index:50;
}
.aboutMember{
    padding:100px 0;
    position: relative;

}
.aboutVideos2{
    h2{
        z-index: 100;
        top:0;
    }
}
.member-container{
    display: flex;
    align-items: center;
    justify-content: center;
    .member{
        max-width: 20%;
        margin:0.5%;
        flex-wrap: wrap;
        img{width:100%}
    }
}
.contact-us{
    width:100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url(../assets/KVN_1104-86.jpg) no-repeat center center;
    // background-position: 0px -200px;
    background-size: cover;
    position: relative;
    z-index: 100;
    @include rwd($md){
        display:none;
    }
    .container{
        position: relative;
        z-index: 100;
    }
    .text{
        margin-top:15px;
    }
    h5{
        font-size:20pt;
        font-weight: bold;
    }
    p{
        font-size:15pt;
        color:$white;
        
    }
    .submit{
        width:100%;
        height:30px;
    }
    input{
        // border:1px solid rgba(#000,.0);
        border-radius: 5px;
        background-color: rgba($white,.5);
        border: 1px solid $white;
        &#subject{
            width:100%;
            padding: 15px;
        }
    }
    .title{
        text-align: center;
        font-size: 3.5em;
        font-weight: bold;
        padding: 10px 0;
        border-bottom: 1px solid $white;
    }
    .share{
        text-align: center;
        display: flex;
        justify-content: center;
        .icon{
            position: relative;
            display: block;
            margin:1em;
            transition: all 0.5s ease-in-out;
            top:0;
            cursor: pointer;
            &:hover{
                position: relative;
                top:-10px;
            }

        }
        i{
            color:$white;
            font-size:2em;
        }
    }
}
#submit{
    width:150px;
    height:50px;
    background-color: transparent;
    border:1px solid $white;
    border-radius: 15px;
    padding:15px;
    margin:15px 0;
    color:$white;
    &:hover{
        background-color: $white;
        color:#000
    }
}
.profilo{
    width:100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;

    iframe{
        width: var(--video-width);
        height: var(--video-height);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #swiper-pagination{
        position: absolute;
        left: 0%;
        color:$white;
        
        z-index: 100;
        display: flex;
        flex-direction: column;
        width:fit-content;
        max-width: 350px;
        height:fit-content;
        cursor: pointer;
        @include rwd($md){
            display:none;
        }
        .pagination-subtitle{
            display: flex;
            width:fit-content;
           
        }
        .swiper-pagination-bullet-active{
           
            background-color: transparent;
        }
        .swiper-pagination-bullet{
            margin:20px;
            background-color: transparent;
        }
        span{
            font-size:15pt;
            color:$white;
        }
    }
}

  .profilo-swiper{
    height:100vh;
  }

textarea{
    width:100%;
    height:300px;
   background-color: rgba($white,.5);
   border-radius: 5px;
   padding:10px;
   border:1px solid rgba($white,.5)

}