

.container-fluid{
    padding:0;
}
.indexSwiper{
    width:100%;
    height:100vh;
    overflow: hidden;
    // display: flex;
    position: relative;
    .button{
      cursor: pointer;
      &:hover{
        filter:invert(29%) sepia(100%) saturate(6488%) hue-rotate(356deg) brightness(88%) contrast(130%);
      }
    }
    .wrapper{
      position: relative;
      overflow: hidden;
      width: 100vw;
      height: 100vh;
    }
    .blackScreen{
      position: absolute;
      top:0;
      width:100%;
      height:100%;
      background-color: rgba(#000,.5);
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    iframe{
      width: var(--video-width);
      height: var(--video-height);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrapper{
      height:100vh
    }
  }
  .swiper-pagination{
    --swiper-theme-color: #fff;
    --swiper-pagination-bullet-inactive-color: #eee;
  }
  .button{

    img{
      width:50px;
      height:50px;
    }
  }