@import 'mixin';
.profilo-swiper{
    width:100%;
    overflow: hidden;
    text-align: center;
}


#portfolio-header{
    // padding-left:350px;
    z-index: 998;
    top: 0;
    width: 100%;
    padding: 15px;
    padding-left: 350px;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    position: fixed;
    background-image: linear-gradient(180deg, rgba(black,.9) 60%, transparent 100%);
    &:after{
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: rgba(#fff,.5);
        position: absolute;
        bottom: 15px;
        left: 0;
    }
    .swiper-wrapper{
        max-width: 150px;
    }
    button{
        border:0;
        background-color: transparent;
        color:#fff;
        font-size: 12pt;
        opacity: 0.7;
        position: relative;
        padding:15px;
        &.active{
            opacity: 1;
            &::after{
                position: absolute;
                bottom: 0px;
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                border-bottom: 1px solid #fff;
                margin: auto;
                left: 0;
                right: 0;
            }
        }
    }
}
.profilo-text{
    position: absolute;
    margin: auto;
    top: 10%;
    /* bottom: 0; */
    z-index: 99;
    left: 5%;
    height: fit-content;
    font-size: 9vw;
    max-width: 300px;
    font-family: "Bebas Neue", sans-serif;
}
.profilo{
    position: relative;
    width:100%;
    
    height:100vh;
    overflow: hidden;
    z-index: 99;
    background-color: #000;
    .swiper-pagination-bullet:only-child{
        display: flex !important;
        width: fit-content;
        height: fit-content !important;
        margin: auto 50px !important;
    }
    .videos{
        height:100%;
    }
    .swiper-pagination-bullets.swiper-pagination{
        position: absolute;
        left: 0%;
        color:#fff;
        
        z-index: 100;
        display: flex;
        flex-direction: column;
        width:fit-content;
        // max-width: 350px;
        max-width: 40vw;
        height:fit-content;
        cursor: pointer;
        .pagination-subtitle{
            display: flex;
            width:fit-content;
           
        }
        .swiper-pagination-bullet-active{
           
            background-color: transparent;
        }
        .swiper-pagination-bullet{
            margin:20px;
            background-color: transparent;
        }
        span{
            font-size:15pt;
            color:#fff;
        }
    }
}

.wrapper iframe {
    width:100%;
    height:100vh;
  }