@import 'mixin';
.profilo-swiper{
    width:100%;
    overflow: hidden;
    text-align: center;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next,.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next{
    @include rwd($md){
        transform: scale(1);
    }
   
}

#portfolio-header{
    // padding-left:350px;
    z-index: 998;
    top: 0;
    width: 100%;
    padding: 15px;
    padding-left: 350px;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    position: fixed;
    background-image: linear-gradient(180deg, rgba(black,.9) 60%, transparent 100%);
    &:after{
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: rgba($white,.5);
        position: absolute;
        bottom: 15px;
        left: 0;
    }
    @include rwd($md){
        background:none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-left: 0;
        text-align: right;
        top:100px;
        right:10%;
        width:fit-content;
        .profilo-swiper{
            width: fit-content;
        }
        &:after{
            display: none;
        }
    }
    .swiper-wrapper{
        max-width: 150px;
    }
    button{
        border:0;
        background-color: transparent;
        color:$white;
        font-size: 12pt;
        opacity: 0.7;
        position: relative;
        padding:15px;
        &.active{
            opacity: 1;
            &::after{
                position: absolute;
                bottom: 0px;
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                border-bottom: 1px solid $white;
                margin: auto;
                left: 0;
                right: 0;
            }
        }
    }
}
.profilo-text{
    position: absolute;
    margin: auto;
    // top: 10%;
    bottom:10%;
    /* bottom: 0; */
    z-index: 99;
    left: 15px;
    height: fit-content;
    font-size: 48px;
    @include rwd($md,min-width){
        font-size:5em;
    }
    max-width: 300px;
}
.profilo{
    position: relative;
    width:100%;
    
    height:100vh;
    overflow: hidden;
    z-index: 99;
    background-color: #000;
    iframe{
        width: var(--video-width);
        height: var(--video-height);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

    .swiper-pagination-bullet:only-child{
        display: flex !important ;
        width: fit-content;
        height: fit-content !important;
        margin: auto 50px !important;
        @include rwd($md){
            width: fit-content;
            height: fit-content !important;
            margin:5px !important;
        }
    }
    .videos{
        height:100%;
    }
    .swiper-pagination-bullets.swiper-pagination{
        position: absolute;
        left: 0%;
        color:$white;
        
        z-index: 100;
        display: flex;
        flex-direction: column;
        width:fit-content;
        // max-width: 350px;
        max-width: 40vw;
        height:fit-content;
        cursor: pointer;
        .swiper-pagination-bullet{
            margin:20px;
            background-color: transparent;

        }
        @include rwd($md){
            display: flex;
            background-color: #444444;
            border-radius: 10px;
            transform: translateX(10px);
          
            .swiper-pagination-bullet{
                margin:5px;
                background:#eee;
                margin-bottom: 10px;
                min-height: 8px;
                min-width: 8px;
                &.swiper-pagination-bullet-active{
                    background:#fff;
                }
            }
        }
        .pagination-subtitle{
            display: flex;
            width:fit-content;
           
        }
        .swiper-pagination-bullet-active{
           
            background-color: transparent;
        }
        span{
            font-size:15pt;
            color:$white;
        }
    }
}

// .wrapper iframe {
//     width:100%;
//     height:100vh;
//   }