@font-face {
  font-family: "HanWangMingBlack";
  src: url("../font/HanWangMingBlack.ttf");
  src: url("../font/HanWangMingBlack.ttf") format("woff2"), url("../font/HanWangMingBlack.ttf") format("woff"), url("../font/HanWangMingBlack.ttf") format("truetype"), url("../font/HanWangMingBlack.ttf") format("svg");
  unicode-range: U+4E00-9FFF; /* Legacy iOS */
}
@font-face {
  font-family: "BebasNeue-Regular";
  src: url("../font/HanWangMingBlack.ttf");
  src: url("../font/BebasNeue-Regular.ttf") format("woff2"), url("../font/BebasNeue-Regular.ttf") format("woff"), url("../font/BebasNeue-Regular.ttf") format("truetype"), url("../font/BebasNeue-Regular.ttf") format("svg");
  unicode-range: U+00-024F; /* Legacy iOS */
}
* {
  font-family: BebasNeue-Regular, HanWangMingBlack;
}

.button {
  cursor: pointer;
}
.button:hover {
  -webkit-filter: invert(29%) sepia(100%) saturate(6488%) hue-rotate(356deg) brightness(88%) contrast(130%);
          filter: invert(29%) sepia(100%) saturate(6488%) hue-rotate(356deg) brightness(88%) contrast(130%);
}

.button {
  position: relative;
}
.button img {
  width: 50px;
  height: 50px;
}

@media all and (max-width: 920px) {
  .aboutVideos1 {
    display: none;
  }
}
.aboutVideos1 .blackScreen {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.aboutVideos1 .button {
  position: relative;
}
.aboutVideos1 img {
  width: 350px;
  height: 350px;
}
.aboutVideos1 .about-us {
  width: 320px;
  margin-top: 50px;
}
.aboutVideos1 .about-us p {
  color: #fff;
  font-size: 15px;
  text-align: justify;
}

.flip_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flip {
  width: 100%;
  min-height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.side {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  color: #FFF5EE;
  text-align: ceter;
}

.front {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-size: 18px;
}

.back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background: #000;
  padding: 0 36px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.back p {
  width: 100%;
  text-align: center;
}
.back .title {
  font-size: 2.5em;
}
@media all and (max-width: 1280px) {
  .back .title {
    font-size: 1.5em;
  }
}

.flip_wrap:hover .flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.videos-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.videos-wrapper iframe {
  width: var(--video-width);
  height: var(--video-height);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}

.blackScreen {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h2 {
  color: #FFF5EE;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
  position: relative;
  z-index: 50;
}

.aboutMember {
  position: relative;
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/dda0dc198340321.6645fb865480b.png") repeat-x bottom center;
  background-size: 1000px;
  min-width: 1000px;
}
@media all and (max-width: 920px) {
  .aboutMember {
    display: none;
  }
}

.aboutVideos2 h2:not(.mob) {
  z-index: 100;
  top: 0;
}
@media all and (max-width: 920px) {
  .aboutVideos2 h2:not(.mob) {
    display: none;
  }
}
.aboutVideos2 h2.mob {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: -150px;
  font-size: 22px;
  text-align: left;
  top: 25px;
  right: -50px;
}
@media all and (min-width: 920px) {
  .aboutVideos2 h2.mob {
    display: none;
  }
}

.mob-member-bg {
  background: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/968599198340321.66461e9a46731.png) no-repeat center bottom;
  background-size: cover;
  height: 40%;
  width: 98%;
  position: absolute;
  bottom: 0;
  z-index: 10;
}

.aboutMember .member {
  z-index: 10;
  position: absolute;
  opacity: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.aboutMember .member .title {
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;
  margin: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 20pt;
}
.aboutMember .member:hover .member-profile {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.aboutMember .member:hover .title {
  opacity: 1;
}
.aboutMember .member:nth-child(1) {
  top: 180px;
  left: 280px;
}
.aboutMember .member:nth-child(1) .title {
  font-size: 50pt;
  bottom: 20px;
}
.aboutMember .member:nth-child(2) {
  left: 30px;
  margin: auto;
  top: 138px;
  bottom: 0;
}
.aboutMember .member:nth-child(2) .title {
  font-size: 30pt;
  bottom: 20px;
}
.aboutMember .member:nth-child(3) {
  left: 23px;
  bottom: 0;
  top: -550px;
  margin: auto;
}
.aboutMember .member:nth-child(4) {
  top: 0;
  bottom: -420px;
  margin: auto;
  left: 282px;
}
.aboutMember .member:nth-child(5) {
  right: 20px;
  bottom: 0;
  top: -89px;
  margin: auto;
}
.aboutMember .member:nth-child(5) .title {
  font-size: 40pt;
}
.aboutMember .member:nth-child(6) {
  bottom: 80px;
  left: 80px;
}
.aboutMember .member:nth-child(6) .title {
  font-size: 40pt;
}
.aboutMember .member:nth-child(7) {
  right: 30px;
  top: 275px;
}
.aboutMember .member:nth-child(7) .title {
  font-size: 40pt;
}
.aboutMember .member:nth-child(8) {
  right: 33px;
  bottom: 414px;
}
.aboutMember .member:nth-child(9) {
  left: 300px;
  top: 0;
  bottom: 80px;
  margin: auto;
}
.aboutMember .member:nth-child(10) {
  right: 0;
  left: 180px;
  margin: auto;
  bottom: 26px;
  top: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.aboutMember .member:nth-child(11) {
  margin: auto;
  left: 230px;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  bottom: 410px;
}
.aboutMember .member:nth-child(11) .title {
  font-size: 40pt;
}
.aboutMember .member:nth-child(12) {
  margin: auto;
  right: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  bottom: 83px;
  left: 230px;
}
.aboutMember .member:nth-child(12) .title {
  font-size: 40pt;
}
.aboutMember .member-profile1 {
  width: 430px;
  height: 430px;
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/93a11b198340321.663f82053493f.png") no-repeat center center;
  background-size: 100%;
}
.aboutMember .member-profile2 {
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/6d3699198340321.663f820535960.png") no-repeat center center;
  background-size: 100%;
  width: 250px;
  height: 250px;
}
.aboutMember .member-profile3 {
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/a1539e198340321.663f82053796f.png") no-repeat center center;
  background-size: 100%;
  width: 260px;
  height: 260px;
}
.aboutMember .member-profile4 {
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/885242198340321.663f820536e92.png") no-repeat center center;
  background-size: 100%;
  width: 200px;
  height: 200px;
}
.aboutMember .member-profile5 {
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/a10dab198340321.663f820533015.png") no-repeat center center;
  background-size: 100%;
  width: 280px;
  height: 280px;
}
.aboutMember .member-profile6 {
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/50bca6198340321.663f8205328c5.png") no-repeat center center;
  background-size: 100%;
  width: 410px;
  height: 410px;
}
.aboutMember .member-profile7 {
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/46c4b0198340321.663f82053398d.png") no-repeat center center;
  background-size: 100%;
  width: 250px;
  height: 250px;
}
.aboutMember .member-profile8 {
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/76d38f198340321.663f820536189.png") no-repeat center center;
  background-size: 100%;
  width: 230px;
  height: 230px;
}
.aboutMember .member-profile9 {
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/449899198340321.663f820534063.png") no-repeat center center;
  background-size: 100%;
  width: 180px;
  height: 180px;
}
.aboutMember .member-profile10 {
  background: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/593ed7198340321.663f820535159.png) no-repeat center center;
  background-size: 100%;
  width: 210px;
  height: 210px;
}
.aboutMember .member-profile11 {
  background: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/45411a198340321.663f820537418.png) no-repeat center center;
  background-size: 100%;
  width: 220px;
  height: 220px;
}
.aboutMember .member-profile12 {
  background: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/475e9b198340321.663f820532047.png) no-repeat center center;
  background-size: 100%;
  width: 230px;
  height: 230px;
}

.member-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0%;
  max-width: 1000px;
  margin: auto;
  position: relative;
  height: 1600px;
  margin-top: -30px;
}
.member-container:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/06ae4e198340321.6645fb8653a7b.png") no-repeat bottom center;
  top: 0;
}
.member-container .member img {
  width: 100%;
}

.contact-us {
  width: 100%;
  height: calc(100vh - 110px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #000 url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/968599198340321.66461e9a46731.png") no-repeat center bottom;
  background-size: cover;
}
@media all and (max-width: 920px) {
  .contact-us {
    display: none;
  }
}
.contact-us .title {
  text-align: center;
  font-size: 3.5em;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid #FFF5EE;
}
.contact-us .share {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact-us .share .icon {
  position: relative;
  display: block;
  margin: 1em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: 0;
  cursor: pointer;
}
.contact-us .share .icon:hover {
  position: relative;
  top: -10px;
}
.contact-us .share i {
  color: #FFF5EE;
  font-size: 2em;
}