@font-face {
  font-family: "HanWangMingBlack";
  src: url("../font/HanWangMingBlack.ttf");
  src: url("../font/HanWangMingBlack.ttf") format("woff2"), url("../font/HanWangMingBlack.ttf") format("woff"), url("../font/HanWangMingBlack.ttf") format("truetype"), url("../font/HanWangMingBlack.ttf") format("svg");
  unicode-range: U+4E00-9FFF; /* Legacy iOS */
}
@font-face {
  font-family: "BebasNeue-Regular";
  src: url("../font/HanWangMingBlack.ttf");
  src: url("../font/BebasNeue-Regular.ttf") format("woff2"), url("../font/BebasNeue-Regular.ttf") format("woff"), url("../font/BebasNeue-Regular.ttf") format("truetype"), url("../font/BebasNeue-Regular.ttf") format("svg");
  unicode-range: U+00-024F; /* Legacy iOS */
}
* {
  font-family: BebasNeue-Regular, HanWangMingBlack;
}

.button {
  cursor: pointer;
}
.button:hover {
  -webkit-filter: invert(29%) sepia(100%) saturate(6488%) hue-rotate(356deg) brightness(88%) contrast(130%);
          filter: invert(29%) sepia(100%) saturate(6488%) hue-rotate(356deg) brightness(88%) contrast(130%);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact .contact-us {
  position: absolute;
  top: 0;
}
.contact .contact-form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.contact .contact-form .text:nth-child(2) {
  margin-top: 2%;
}
.contact .contact-us {
  position: relative;
  z-index: 30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 80%;
  padding: 0 1em;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}
.contact .contact-us .container {
  width: 370px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 20px;
}
.contact .contact-us .container .logo_icon {
  width: 100%;
  margin: auto;
}
.contact .contact-us .text {
  min-width: 300px;
}
.contact .contact-us .text input {
  background: transparent;
  color: #FFF5EE;
  padding: 10px;
}
.contact .contact-us .text textarea {
  background: transparent;
  border: 1px solid #FFF5EE;
  min-height: 200px;
  width: 100%;
  padding: 10px;
  color: #FFF5EE;
}
.contact .contact-us input {
  width: 100%;
  height: 50px;
  border: 1px solid #FFF5EE;
}
.contact .contact-us #submit {
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.contact .contact-us #submit:hover {
  background-color: #b2b2b2;
}
.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.contact .container .title {
  text-align: center;
}
.contact .container .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact .container .share .icon {
  margin: 0 5%;
  color: #FFF5EE;
}
.contact .container img {
  width: 100%;
}
.contact .videos-wrapper {
  background-color: #000;
  width: 100%;
  height: 100vh;
  position: absolute;
}
.contact .videos-wrapper .blackScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
.contact .videos-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}