@font-face {
  font-family: "HanWangMingBlack";
  src: url("../font/HanWangMingBlack.ttf");
  src: url("../font/HanWangMingBlack.ttf") format("woff2"), url("../font/HanWangMingBlack.ttf") format("woff"), url("../font/HanWangMingBlack.ttf") format("truetype"), url("../font/HanWangMingBlack.ttf") format("svg");
  unicode-range: U+4E00-9FFF; /* Legacy iOS */
}
@font-face {
  font-family: "BebasNeue-Regular";
  src: url("../font/HanWangMingBlack.ttf");
  src: url("../font/BebasNeue-Regular.ttf") format("woff2"), url("../font/BebasNeue-Regular.ttf") format("woff"), url("../font/BebasNeue-Regular.ttf") format("truetype"), url("../font/BebasNeue-Regular.ttf") format("svg");
  unicode-range: U+00-024F; /* Legacy iOS */
}
* {
  font-family: BebasNeue-Regular, HanWangMingBlack;
}

.button {
  cursor: pointer;
}
.button:hover {
  -webkit-filter: invert(29%) sepia(100%) saturate(6488%) hue-rotate(356deg) brightness(88%) contrast(130%);
          filter: invert(29%) sepia(100%) saturate(6488%) hue-rotate(356deg) brightness(88%) contrast(130%);
}

body.overflow {
  overflow: hidden;
}

.drBeautyInnerContext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media all and (max-width: 920px) {
  .drBeautyInnerContext {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.drBeautyInnerContext .content-right {
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
  position: relative;
}
.drBeautyInnerContext .content-right img {
  width: 100%;
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
}

.drBeautyContent .aboutDrBeauty1 {
  width: 100%;
  height: 100vh;
  background: url(../assets/beautypage_frontpic1.jpg) no-repeat center center;
  background-size: cover;
  position: sticky;
  top: 0;
}

.drBeautyDialog {
  display: none;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
}
.drBeautyDialog.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.drBeautyDialog .drBeautyContext {
  position: relative;
  z-index: 10;
  padding: 30px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  max-height: 100vh;
  margin: auto;
}
.drBeautyDialog .drBeautyContext .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  max-height: 50vh;
  padding: 15px;
}
.drBeautyDialog .drBeautyContext .content::-webkit-scrollbar {
  background-color: #FFF5EE;
  width: 2px;
}
.drBeautyDialog .drBeautyContext .content::-webkit-scrollbar-thumb {
  background: #888;
  width: 2px;
  border-radius: 25px;
}
.drBeautyDialog .drBeautyContext .content::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.drBeautyDialog .drBeautyContext .content h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.drBeautyDialog .drBeautyContext .content h1 .small {
  font-size: 15px;
}
.drBeautyDialog .icon {
  position: absolute;
  right: 10px;
  top: -50px;
  cursor: pointer;
}
.drBeautyDialog .icon .bi {
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 30px;
}

h2 {
  color: #FFF5EE;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
  position: relative;
  z-index: 50;
}

.aboutMember {
  padding: 100px 0;
  position: relative;
}

.aboutVideos2 h2 {
  z-index: 100;
  top: 0;
}

.member-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.member-container .member {
  max-width: 20%;
  margin: 0.5%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.member-container .member img {
  width: 100%;
}

.contact-us {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../assets/KVN_1104-86.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: 100;
}
.contact-us .container {
  position: relative;
  z-index: 100;
}
.contact-us .text {
  margin-top: 15px;
}
.contact-us h5 {
  font-size: 20pt;
  font-weight: bold;
}
.contact-us p {
  font-size: 15pt;
  color: #FFF5EE;
}
.contact-us .submit {
  width: 100%;
  height: 30px;
}
.contact-us input {
  border-radius: 5px;
  background-color: rgba(255, 245, 238, 0.5);
  border: 1px solid #FFF5EE;
}
.contact-us input#subject {
  width: 100%;
  padding: 15px;
}
.contact-us .title {
  text-align: center;
  font-size: 3.5em;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid #FFF5EE;
}
.contact-us .share {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact-us .share .icon {
  position: relative;
  display: block;
  margin: 1em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: 0;
  cursor: pointer;
}
.contact-us .share .icon:hover {
  position: relative;
  top: -10px;
}
.contact-us .share i {
  color: #FFF5EE;
  font-size: 2em;
}

#submit {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #FFF5EE;
  border-radius: 15px;
  padding: 15px;
  margin: 15px 0;
  color: #FFF5EE;
}
#submit:hover {
  background-color: #FFF5EE;
  color: #000;
}

.profilo {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.profilo #swiper-pagination {
  position: absolute;
  left: 0%;
  color: #FFF5EE;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 350px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}
.profilo #swiper-pagination .pagination-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.profilo #swiper-pagination .swiper-pagination-bullet-active {
  background-color: transparent;
}
.profilo #swiper-pagination .swiper-pagination-bullet {
  margin: 20px;
  background-color: transparent;
}
.profilo #swiper-pagination span {
  font-size: 15pt;
  color: #FFF5EE;
}

.profilo-swiper iframe {
  width: 100%;
  height: 100vh;
}

.profilo-swiper {
  height: 100vh;
}

textarea {
  width: 100%;
  height: 300px;
  background-color: rgba(255, 245, 238, 0.5);
  border-radius: 5px;
  padding: 10px;
  border: 1px solid rgba(255, 245, 238, 0.5);
}