@font-face {
  font-family: "HanWangMingBlack";
  src: url("../font/HanWangMingBlack.ttf");
  src: url("../font/HanWangMingBlack.ttf") format("woff2"), url("../font/HanWangMingBlack.ttf") format("woff"), url("../font/HanWangMingBlack.ttf") format("truetype"), url("../font/HanWangMingBlack.ttf") format("svg");
  unicode-range: U+4E00-9FFF; /* Legacy iOS */
}
@font-face {
  font-family: "BebasNeue-Regular";
  src: url("../font/HanWangMingBlack.ttf");
  src: url("../font/BebasNeue-Regular.ttf") format("woff2"), url("../font/BebasNeue-Regular.ttf") format("woff"), url("../font/BebasNeue-Regular.ttf") format("truetype"), url("../font/BebasNeue-Regular.ttf") format("svg");
  unicode-range: U+00-024F; /* Legacy iOS */
}
* {
  font-family: BebasNeue-Regular, HanWangMingBlack;
}

.button {
  cursor: pointer;
}
.button:hover {
  -webkit-filter: invert(29%) sepia(100%) saturate(6488%) hue-rotate(356deg) brightness(88%) contrast(130%);
          filter: invert(29%) sepia(100%) saturate(6488%) hue-rotate(356deg) brightness(88%) contrast(130%);
}

.dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  z-index: 999;
}
.dialog .dialogFrame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}
.dialog .dialogFrame .wrapper .dialogvideo {
  width: 80vw;
  max-width: 988px;
  margin: auto;
  height: 50vh;
}
@media all and (max-width: 920px) {
  .dialog .dialogFrame .wrapper .dialogvideo {
    width: 90vw;
    height: 70vh;
  }
}
.dialog .dialogFrame .close {
  position: absolute;
  right: -50px;
  height: 80px;
  width: 80px;
  top: -50px;
  font-size: 40px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF5EE;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@media all and (max-width: 920px) {
  .dialog .dialogFrame .close {
    right: -10px;
  }
}

:root {
  --video-width: 100vw;
  --video-height: 100vh;
}
@media (min-aspect-ratio: 16/9) {
  :root {
    --video-height: 56.25vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  :root {
    --video-width: 177.78vh;
  }
}

body {
  background-color: var(--bs-black);
  color: #FFF5EE;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #FFF5EE;
  position: relative;
  z-index: 100;
}
@media all and (max-width: 920px) {
  .footer {
    display: none;
  }
}
.footer .footer-inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.footer .footer-inner-wrapper .logo {
  width: 80px;
  height: 80px;
}
.footer .footer-inner-wrapper .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
}
.footer img {
  width: 100%;
}

#toggle {
  width: 40px;
  height: 30px;
  margin-right: 10px;
}
#toggle span {
  width: 100%;
  height: 5px;
  display: block;
  background: #FFF5EE;
  margin: 4px auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
@media all and (max-width: 920px) {
  #toggle span {
    background: #8e1215;
  }
}
#toggle.on span {
  background: #1f1f1f;
}
@media all and (max-width: 920px) {
  #toggle.on span {
    background: #8e1215;
  }
}
#toggle.on span:first-child {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:nth-child(2) {
  opacity: 0;
}
#toggle.on span:last-child {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
          transform: rotate(-45deg) translate(7px, -8px);
}

.header {
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.share-link-title {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0;
  padding-left: 15px;
  padding-bottom: 20px;
}

.share-link .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}
.share-link .icon i {
  font-size: 20px;
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 30px;
  font-weight: bold;
  margin: 15px;
  color: #FFF5EE;
}
.menu-btn p {
  margin-bottom: 0;
}

.header-title .close {
  margin-right: 20px;
}

.close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  font-size: 20px;
}
.close p {
  margin-bottom: 0;
}

.menu {
  width: 0;
  -webkit-transform: all 0.5s ease;
          transform: all 0.5s ease;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  display: none;
  font-size: 30px;
  padding-left: 40px;
}
.menu a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  margin-top: 20px;
  white-space: normal;
  letter-spacing: 2px;
}
@media all and (max-width: 920px) {
  .menu a {
    color: #fff;
  }
  .menu a.active {
    color: #8e1215;
  }
}
.menu a:after {
  display: block;
  content: "";
  width: 0%;
  border-bottom: 1px solid #000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu a:hover:after {
  width: 100%;
}
@media all and (max-width: 920px) {
  .menu a:hover:after {
    width: 0;
  }
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
}
@media all and (max-width: 920px) {
  .header {
    height: 100%;
  }
}
.header a {
  display: block;
  width: 100%;
}
.header .share-wrapper {
  display: none;
}
@media all and (max-width: 920px) {
  .header .share-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 10px;
  }
  .header .share-wrapper .share-link-title {
    padding: 0;
    padding-left: 15px;
  }
  .header .share-wrapper .share-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 180px;
  }
  .header .share-wrapper .share-link .icon {
    color: #fff;
    font-size: 18px;
  }
}
.header.openMenu {
  height: 100%;
  background-color: #FFF5EE;
  width: 100%;
}
@media all and (max-width: 920px) {
  .header.openMenu {
    background: transparent;
  }
  .header.openMenu .open-link {
    margin-top: -120px;
  }
}
@media all and (min-width: 920px) {
  .header.openMenu {
    max-width: 300px;
  }
}
.header.openMenu #toggle-link span {
  color: #000;
}
@media all and (max-width: 920px) {
  .header.openMenu #toggle-link span {
    color: #fff;
  }
}
.header.openMenu .menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header.openMenu .menu {
  width: auto;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 70px;
}
@media all and (max-width: 920px) {
  .header.openMenu .menu {
    padding-left: 15px;
  }
}
.header.openMenu .share-link-title {
  color: #000;
}
@media all and (max-width: 920px) {
  .header.openMenu .share-link-title {
    color: #fff;
  }
}
@media all and (min-width: 920px) {
  .header.openMenu .share-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
}
@media all and (max-width: 920px) {
  .header.openMenu .share-wrapper {
    max-width: 130px;
  }
}
@media all and (min-width: 920px) {
  .header.openMenu .share-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 30px 15px 15px;
  }
}
@media all and (min-width: 920px) {
  .header.openMenu .share-link .icon {
    width: auto;
  }
}

.blackScreen {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button img {
  width: 50px;
  height: 50px;
}
.button.button-resume {
  cursor: pointer;
}