@font-face {
  font-family: "HanWangMingBlack";
  src: url("../font/HanWangMingBlack.ttf");
  src: url("../font/HanWangMingBlack.ttf") format("woff2"), url("../font/HanWangMingBlack.ttf") format("woff"), url("../font/HanWangMingBlack.ttf") format("truetype"), url("../font/HanWangMingBlack.ttf") format("svg");
  unicode-range: U+4E00-9FFF; /* Legacy iOS */
}
@font-face {
  font-family: "BebasNeue-Regular";
  src: url("../font/HanWangMingBlack.ttf");
  src: url("../font/BebasNeue-Regular.ttf") format("woff2"), url("../font/BebasNeue-Regular.ttf") format("woff"), url("../font/BebasNeue-Regular.ttf") format("truetype"), url("../font/BebasNeue-Regular.ttf") format("svg");
  unicode-range: U+00-024F; /* Legacy iOS */
}
* {
  font-family: BebasNeue-Regular, HanWangMingBlack;
}

.button {
  cursor: pointer;
}
.button:hover {
  -webkit-filter: invert(29%) sepia(100%) saturate(6488%) hue-rotate(356deg) brightness(88%) contrast(130%);
          filter: invert(29%) sepia(100%) saturate(6488%) hue-rotate(356deg) brightness(88%) contrast(130%);
}

.profilo-swiper {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

@media all and (max-width: 920px) {
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next, .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#portfolio-header {
  z-index: 998;
  top: 0;
  width: 100%;
  padding: 15px;
  padding-left: 350px;
  position: fixed;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(0, 0, 0, 0.9)), to(transparent));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 60%, transparent 100%);
}
#portfolio-header:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 245, 238, 0.5);
  position: absolute;
  bottom: 15px;
  left: 0;
}
@media all and (max-width: 920px) {
  #portfolio-header {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-left: 0;
    text-align: right;
    top: 100px;
    right: 10%;
  }
  #portfolio-header .profilo-swiper {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #portfolio-header:after {
    display: none;
  }
}
#portfolio-header .swiper-wrapper {
  max-width: 150px;
}
#portfolio-header button {
  border: 0;
  background-color: transparent;
  color: #FFF5EE;
  font-size: 12pt;
  opacity: 0.7;
  position: relative;
  padding: 15px;
}
#portfolio-header button.active {
  opacity: 1;
}
#portfolio-header button.active::after {
  position: absolute;
  bottom: 0px;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #FFF5EE;
  margin: auto;
  left: 0;
  right: 0;
}

.profilo-text {
  position: absolute;
  margin: auto;
  bottom: 10%;
  /* bottom: 0; */
  z-index: 99;
  left: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 48px;
  max-width: 300px;
}
@media all and (min-width: 920px) {
  .profilo-text {
    font-size: 5em;
  }
}

.profilo {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 99;
  background-color: #000;
}
.profilo iframe {
  width: var(--video-width);
  height: var(--video-height);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.profilo .swiper-pagination-bullet:only-child {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  margin: auto 50px !important;
}
.profilo .videos {
  height: 100%;
}
.profilo .swiper-pagination-bullets.swiper-pagination {
  position: absolute;
  left: 0%;
  color: #FFF5EE;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 40vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}
@media all and (max-width: 920px) {
  .profilo .swiper-pagination-bullets.swiper-pagination {
    display: none;
  }
}
.profilo .swiper-pagination-bullets.swiper-pagination .pagination-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.profilo .swiper-pagination-bullets.swiper-pagination .swiper-pagination-bullet-active {
  background-color: transparent;
}
.profilo .swiper-pagination-bullets.swiper-pagination .swiper-pagination-bullet {
  margin: 20px;
  background-color: transparent;
}
.profilo .swiper-pagination-bullets.swiper-pagination span {
  font-size: 15pt;
  color: #FFF5EE;
}