.footer
    .footer-inner-wrapper
        .logo
            img(src="../assets/logo.png")
        .contact
            .mail
                p myschedulesudio@gmail.com
            .location
                p Taipei Taiwan.
        .copy-right
            p 2023 MY SCHEDULE @ ALL RIGHT RESERVED 
