.footer
    .footer-inner-wrapper
        .logo
            img(src="./assets/logo.png")
        .contact
            .mail
                p MYSCHEDULESTUDIO@GMAIL.COM
            .location
                p TAIPEI, TAIWAN
        .copy-right
            p 2023 MY SCHEDULE @ ALL RIGHT RESERVED 
