.header
    .menu-btn
        #toggle
            span 
            span 
            span
        #toggle-link
            span HOME
    .open-link
        .menu
            a(href="index.html") HOME
            a(href="about.html") ABOUT
            a(href="drBeauty.html") DR.BEAUTY
            a(href="portfolio.html") OUR WORK
            a(href="contact.html") CONTACT
            //- a(href="about.html") SHOP
    .share-wrapper
        p.share-link-title Follow
        .share-link
            a.icon(href="https://www.youtube.com/channel/UCHsA8rgzjoV7DXtRX8V9Qag" targe="_blank")
                i.bi.bi-facebook
            a.icon(href="https://www.instagram.com/myschedule_ltd/" targe="_blank")
                i.bi.bi-instagram
            a.icon(href="https://www.facebook.com/myschedule/?locale=zh_TW" targe="_blank")
                i.bi.bi-youtube

    