extends _layout.pug
block style
     link( rel="stylesheet" href="./css/index.css")
block container
    .mob-context
        p This is MY SCHEDULE LTD. We are a creative video production company based in Taipei, Taiwan. Operating globally, we are dedicated to producing top-quality visuals. Our creative team specializes in a variety of video productions, including movies, music videos, television shows, commercials, and occasionally unconventional YouTube content.
    
    .container-fluid
        .swiper.indexSwiper
            .swiper-wrapper
                
        //- .swiper-pagination
block scripts
    script(src="./js/index.js" type="module")