extends _layout.pug
block style
     link( rel="stylesheet" href="./css/index.css")
block container
    .mob-context
        p THIS IS MY SCHEDULE LTD.
        p WE ARE A CREATIVE VIDEO.
        p PRODUCTION COMPANY
        p BASED IN TAIPEI, TAIWAN.
        p OPERATING GLOBALLY, WE
        p ARE DEDICATED TO
        p PRODUCING TOP-QUALITY
        p VARIETY OF VIDEO
        p PRODUCTIONS, INCLUDING
        p MOVIES, MUSIC VIDEOS,
        p TELEVISION SHOWS,
        p COMMERCIALS, AND
        p OCCASIONALLY
        p UNCONVENTIONAL YOUTUBE
        p CONTENT.
    .container-fluid
        .swiper.indexSwiper
            .swiper-wrapper
                
        //- .swiper-pagination
block scripts
    script(src="./js/index.js" type="module")