extends _layout.pug
block style
     link( rel="stylesheet" href="./css/index.css")
block container
    .container-fluid
        .swiper.indexSwiper
            .swiper-wrapper
        //- .swiper-pagination
block scripts
    script(src="./js/index.js" type="module")