extends _layout.pug
block style
     link( rel="stylesheet" href="./css/portfolio.css")
block container
    #portfolio-header
        .profilo-swiper
            .swiper-wrapper
        

        
    .profilo
    .profilo-text 2024
block footer
    include _footer.pug
block scripts
    script(src="./js/portfolio.js" type="module")