extends _layout.pug
block style
     link( rel="stylesheet" href="/css/portfolio.css")
block container
    #portfolio-header
        .profilo-swiper
            .swiper-wrapper
        

        
    .profilo
block footer
    include _footer.pug
block scripts
    script(src="../js/portfolio.js" type="module")