// resources/scss/app.scss
@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");


main{
    overflow: hidden;
}

.logoPlayIcon{
    cursor: pointer;
    &:hover{
        filter: invert(52%) sepia(82%) saturate(2494%) hue-rotate(327deg) brightness(104%) contrast(92%);
    }
}

.bg-video {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.header-title{
    display: flex;
    align-items: center;
    justify-content: center;
    .home-return{
        width:30px;
        height:auto;
        img{
            width:100%;
        }
    }
}