// resources/scss/app.scss
@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

// header
.header{
    position: fixed;
    left:0;
    top:0;
    // width:100px;
    height:100%;
    padding:15px;
    z-index:10;
    background-color: #fff;
    a{
        display: block;
        width:100%;
    }
}
main{
    overflow: hidden;
}

